@model YMSweb.Data.Entities.MDTipo_Transporte

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="div-title">
                <h4 class="m-0">CREAR TIPO TRANSPORTE</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="tiptran_desc" class="control-label"></label>
                            <input asp-for="tiptran_desc" class="form-control" />
                            <span asp-validation-for="tiptran_desc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="checkbox">Activo</label><br />
                            <input type="checkbox" asp-for="tiptran_act" value="true">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class='btn btn-info btn-sm text-white' />
                            <a class='btn btn-info btn-sm text-white' asp-action="Index">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
