/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-headercolor {
    background-color: #343a40;
    color: #1f2d3d;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px !important;
    height: 150px !important;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/*texto*/
.texto1 {
    position: absolute;
    top: 60px;
    left: 40%;
    font-family: Georgia, 'Times New Roman';
    font-size: 12px;
    color: black;
}


div#general{
    margin:auto;
    width:6000px;
    height:4800px;
    background-color: white;
}

div#cuadrilla{
    margin-top: -10px;
    margin-left: 1950px;
    width: 200px;
    height: 300px;
}

div#canales {
    width: 4400px;
    height: 100px;
}

div#muelles {
    margin-top: 350px;
    width: 2800px;
    height: 200px;
}

div#estacionamientos {
    margin-top: 100px;
    width: 1400px;
    height: 200px;
}

div#anexos {
    margin-top: 200px;
    width: 1200px;
    height: 300px;
}
/* Layaout para dividir la vision*/



/* Titulos*/
.div-title {
    padding: 15px;
    margin: 20px 15px;
    border: 1px solid #d3d3d3;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #343a40;
}
/* Titulos */

/*Botones*/
.boton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.boton2 {
    border: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 210px;
    height: 50px;
}
/*Botones*/
/*Selectores*/
.select2-container .select2-selection,
.select2-selection__rendered,
.select2-selection__arrow {
    height: 38px !important;
    /*line-height: 48px !important;*/
}
/*Selectores*/
/*Alineacion*/
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/*Alineacion*/

/*Colores*/
.color-fondo-acept{
    background-color:darkgreen;
}
.color-fondo-deneg{
    background-color:darkred;
}
.color-fondo-rojo {
    background-color: darkred;
}
.color-fondo-amarillo {
    background-color: darkkhaki;
}
.color-fondo-azul {
    background-color: darkblue;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
